* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font-family);
}

:root {
    --primary-bg-color: #E02C6D;
    --primary-text-color: #3A3A3A;
    --secondary-text-color: #18191F;
    --3rd-text-color: #18191F;
    --4th-text-color: #787885;
    --5th-text-color: #6C6C6C;
    --primary-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Inter", sans-serif;
    --3rd-font-family: "Roboto", sans-serif;
}

.poppins {
    font-family: var(--primary-font-family);
}

.inter {
    font-family: var(--secondary-font-family);
}

.roboto {
    font-family: var(--3rd-font-family);
}



/* Shared styles */
.div-center {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.btn {
    padding: 15px 30px;
    background-color: var(--primary-bg-color);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}







/* Header Styles */
header {
    margin-top: 60px;
    color: var(--primary-text-color);
}


nav {
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    gap: 2.5rem;
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 600;
}

.fa-magnifying-glass,
.fa-cart-plus {
    font-size: 1.5rem;
}

#banner-section {
    justify-content: space-between;
    align-items: center;
    gap: 33px;
    margin-top: 42px;
    padding: 0px 0px;
}

.banner-title {
    font-size: 3.25rem;
    line-height: 4.5rem;
    margin-bottom: 1rem;
}

.banner-discription {
    font-weight: 600;
    margin-bottom: 1.2rem;
}

#banner-btn a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.813rem;
    font-size: 1.1rem;
}

#banner-btn .fa-arrow-right {
    margin-left: 10px;
}

.banner-img {
    background: url('../images/Circle\ design.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px;
}

.banner-img img {
    max-width: 440px;
    margin-right: 33px;
}




/* Products-section style */
#products {
    margin-bottom: 200px;
}

.product-container {
    max-width: 1148px;
    margin: 0 auto;
}

.product-title {
    font-size: 1.75rem;
    line-height: 4.5rem;
    text-align-last: center;
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    padding-bottom: 10px;
}

.product-box {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-card {
    box-shadow: 0px 0px 10px #0605050c, 0px 0px 10px #0605050e;
    padding: 15px 20px;
    max-width: 380px;
    width: 100%;
}

.product-img {
    width: 100%;
    max-width: 350px;
    margin-bottom: 1rem;
}

.product-card-title {
    font-size: 1.75rem;
    margin-bottom: 6px;
}

.product-price {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: var(--secondary-font-family);
}

.rating {
    font-size: 0.875rem;
    color: #6C6C6C;
    font-weight: bold;
    padding-bottom: 0.5rem;
    font-family: var(--3rd-font-family);
}

.rating span {
    padding-left: 5px;
}

.fa-star {
    color: #FB8200;
    font-size: 0.7rem;
}

.product-description {
    color: #6C6C6C;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.2rem;
}


@media screen and (max-width:576px) {
    .div-center, .product-container {
        width: 95%;
    }

    nav {
        flex-direction: column;
    }

    .nav-logo {
        font-size: 1rem;
    }

    .nav-menue {
        margin-top: 1.2rem;
        font-weight: 900;
    }

    .nav-list {
        flex-direction: column;
        font-size: 1.25rem;
        text-align: center;
        gap: 1rem;
    }

    #banner-section {
        flex-direction: column;
    }

    .banner-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .banner-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-img img {
        width: 100%;
        max-width: 800px;
        margin-right: 0;
    }
    .product-box{
        grid-template-columns: 1fr;
    }
}


@media screen and (min-width:577px) and (max-width:1200px){
    .product-box{
        grid-template-columns: repeat(2, 1fr);
    }
}