* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font-family);
}

:root {
    --primary-bg-color: #E02C6D;
    --primary-text-color: #3A3A3A;
    --secondary-text-color: #18191F;
    --3rd-text-color: #18191F;
    --4th-text-color: #787885;
    --5th-text-color: #6C6C6C;
    --primary-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Inter", sans-serif;
    --3rd-font-family: "Roboto", sans-serif;
}

.poppins {
    font-family: var(--primary-font-family);
}

.inter {
    font-family: var(--secondary-font-family);
}

.roboto {
    font-family: var(--3rd-font-family);
}



/* Shared styles */
.div-center {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.btn {
    padding: 15px 30px;
    background-color: var(--primary-bg-color);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}







/* Header Styles */
header {
    margin-top: 60px;
    color: var(--primary-text-color);
}


nav {
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

.nav-list {
    gap: 2.5rem;
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 600;
}

.fa-magnifying-glass,
.fa-cart-plus {
    font-size: 1.5rem;
}

#banner-section {
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
    padding: 0px 0px;
}

.banner-content {
    max-width: 540px;
}

.banner-title {
    font-size: 3.25rem;
    line-height: 4.5rem;
    margin-bottom: 1rem;
}

.banner-discription {
    font-weight: 600;
    margin-bottom: 1.2rem;
}

#banner-btn a,
#feature-btn a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.813rem;
    font-size: 1.1rem;
}

#banner-btn .fa-arrow-right,
#feature-btn .fa-arrow-right {
    margin-left: 10px;
}

.banner-img {
    background: url('../images/Circle\ design.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px;
}

.banner-img img {
    max-width: 440px;
    margin-right: 33px;
}

/* Sponsor-section style */
#sponsors{
    margin-top: 80px;
}
.sponsor-container{
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 36px 62px;
    border-top: 1px solid rgb(244, 237, 237) ;
    border-bottom: 1px solid rgb(244, 237, 237);
}   

.sponsor-img img{
    max-width: 115px;
}


/* Products-section style */
#products {
    margin-top: 80px;
    margin-bottom: 80px;
}

.product-container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

.product-title {
    font-size: 1.75rem;
    line-height: 4.5rem;
    text-align-last: center;
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    padding-bottom: 10px;
}

.product-box {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-card {
    box-shadow: 0px 0px 10px #0605050c, 0px 0px 10px #0605050e;
    padding: 15px 20px;
    max-width: 550px;
    width: 100%;
    border-radius: 10px;
}

.product-img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 1rem;
}

.product-card-title {
    font-size: 1.75rem;
    margin-bottom: 6px;
}

.product-price {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: var(--secondary-font-family);
}

.rating {
    font-size: 0.875rem;
    color: #6C6C6C;
    font-weight: bold;
    padding-bottom: 0.5rem;
    font-family: var(--3rd-font-family);
}

.rating span {
    padding-left: 5px;
}

.fa-star {
    color: #FB8200;
    font-size: 0.7rem;
}

.product-description {
    color: #6C6C6C;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.see-more{
    margin-top: 20px;
    margin-right: 0;
}


/* Features - styles */
#feature-section{
    margin-bottom: 100px;
}
.feature-container {
    align-items: center;
    gap: 98px;
}

.feature-img img {
    max-width: 505px;
    width: 100%;
}

.feature-title {
    font-size: 2.375rem;
    margin-bottom: 16px;
}

.feature-description {
    font-size: 1rem;
    font-weight: bold;
    color: var(--5th-text-color);
    margin-bottom: 1rem;
    max-width: 31.563rem;
    line-height: 1.75rem;
}

#feature-btn {
    border-radius: 0;
}






/* footer style */
footer{
    background-color: #6c1033;
    color: white;
}
.footer-container{
    max-width: 463px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
}
.footer-content{
    line-height: 2rem;
}
.footer-title{
    font-size: 1.5rem;
}
 .footer-content p{
    font-size: 0.8rem;
}
.footer-links i{
    font-size: 1.8rem;
    margin-top: 1rem;
}
.footer-links{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:576px) {

    .div-center,
    .product-container,
    .feature-container {
        width: 95%;
    }

    nav {
        flex-direction: column;
        gap: 0;
    }

    .nav-logo {
        font-size: 1rem;
    }

    .nav-menue {
        margin-top: 1.2rem;
        font-weight: 900;
    }

    .nav-list {
        flex-direction: column;
        font-size: 1.7rem;
        text-align: center;
        gap: 0.8rem;
    }

    #banner-section {
        flex-direction: column;
    }

    .banner-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 2rem;
    }

    .banner-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-img img {
        width: 100%;
        max-width: 800px;
        margin-right: 0;
    }

    #products {
        margin-bottom: 20px;
    }

    .product-box {
        grid-template-columns: 1fr;
    }

    .feature-container {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .feature-img img {
        width: 100%;
    }

    .feature-content {
        text-align: center;
    }

    .feature-title {
        font-size: 1.5rem;
    }
    .sponsor-container{
        flex-wrap: wrap;
    }
}






@media screen and (min-width:577px) and (max-width:1200px) {
    nav {
        flex-direction: column;
        gap: 2rem;
    }
    #banner-section {
        flex-direction: column;
    }
    .sponsor-container{
        flex-wrap: wrap;
        align-items: center;
        gap: 1.5rem;
    }
    .product-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-container {
        justify-content: space-between;
        align-items: center;
    }

    .product-card {
        max-width: 600px;
    }
    .feature-container {
        flex-direction: column-reverse;
        gap: 30px;
    }
}