* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #E02C6D;
    --primary-text-color: #3A3A3A;
    --secondary-text-color: #18191F;
    --3rd-text-color: #18191F;
    --4th-text-color: #787885;
    --5th-text-color: #6C6C6C;
    --primary-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Inter", sans-serif;
    --3rd-font-family: "Roboto", sans-serif;
}

.poppins {
    font-family: var(--primary-font-family);
}

.inter {
    font-family: var(--secondary-font-family);
}

.roboto {
    font-family: var(--3rd-font-family);
}



/* Shared styles */
.div-center {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.btn {
    padding: 15px 30px;
    background-color: var(--primary-bg-color);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}







/* Header Styles */
header {
    margin-top: 60px;
    color: var(--primary-text-color);
}


nav {
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    gap: 2.5rem;
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 600;
}

.fa-magnifying-glass,
.fa-cart-plus {
    font-size: 1.5rem;
}

#banner-section {
    justify-content: space-between;
    align-items: center;
    gap: 33px;
    margin-top: 42px;
    padding: 0px 0px;
}

.banner-title {
    font-size: 3.25rem;
    line-height: 4.5rem;
    margin-bottom: 1rem;
}

.banner-discription {
    font-weight: 600;
    margin-bottom: 1.2rem;
}

#banner-btn a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.813rem;
    font-size: 1.1rem;
}

#banner-btn .fa-arrow-right {
    margin-left: 10px;
}

.banner-img {
    background: url('../images/Circle\ design.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px;
}

.banner-img img {
    max-width: 440px;
    margin-right: 33px;
}





@media screen and (max-width:576px) {
    .div-center {
        width: 95%;
    }

    nav {
        flex-direction: column;
    }

    .nav-logo {
        font-size: 1.2rem;
    }

    .nav-menue {
        margin-top: 1.1rem;
    }

    .nav-list {
        flex-direction: column;
        font-size: 2rem;
        text-align: center;
        gap: 1rem;
    }

    #banner-section {
        flex-direction: column;
    }

    .banner-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .banner-img {
        background-size: contain;

    }

    .banner-img img {
        margin: 0;
    }
}